<% if !signed_in? %>
	<div class="center hero-unit">
	  <h1>Welcome to the Video Collection</h1>

	  <h2>
	    To find out more check out the <%= link_to("help page", help_path) %>
	  </h2>

	  <% if !signed_in? %>
	  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	  <% end %>
	</div>
<% else %>
	<div class="row">
		<%= render 'users/user_info' %>
		<div class="span10">
			You have: <%= link_to(pluralize(@user.devices.length, 'device'),user_devices_path(@user)) %>
			<br>
			You have: <%= link_to(pluralize(@user.movies.length, 'movie'), @user) %>
			<br>
			Your tag accuracy is: <%= '%.2f' % (@user.movies.where(tagged: true).length * 100.to_f / @user.movies.length) %>%
		</div>
	</div>
<% end %>