<% provide(:title, 'Devices') %>
<div class="row">
  <%= render 'users/user_info' %>
  <div class="span10">
	<% if @user.devices.any? %>
	   <h3>Devices (<%= @user.devices.count %>)</h3>
     <%= form_for([@user, @device], multipart: true,
                                    html: { class: "device_form"} ) do |f| %>
       <%= render 'device_form', f: f %>
       <%= f.submit "Add device", class: "btn btn-primary" %>
     <% end %>
     <h6>dskafls<%= @user.devices.count %></h6>
     <ol class="devices">
	     <%= render @devices %>
     </ol>
	<% end %>
	</div>
</div>