<% provide(:title, @device.name) %>
<div class="row">
  <%= render 'users/user_info' %>
  <div class="span8">
  	<h3>List of movies on <%= @device.name %></h3>
    <%= form_for([@user, @device], html: { :class => "device_form" }) do |f|%>
      <%= render 'shared/error_messages', object: @device %>

      <%= form_for([@user, @device], html: { class: "device_form"} ) do |f| %>
         <%= render 'device_form', f: f %>
         <%= f.submit "Update device", class: "btn btn-primary" %>
       <% end %>
    <% end %>
    <%= link_to "Delete device", [@user, @device], :method => :delete, :class => "btn" %>
    <%= render 'movies/movies', movies: @movies %>
  </div>
</div>