<tr align="center">
	<td title="<%= movie.name %>">
		<%= link_to(wrap(movie.name), url_for([@user, movie])) %>
	</td>
	<td><%= movie.no_of_files %></td>
	<td><%= movie.total_size %></td>
	<td>
		<% if movie.tagged %>
			<%= link_to(movie.imdb_id, "http://www.imdb.com/title/" + movie.imdb_id) %>
		<% else %>
			<%= movie.imdb_id %>
		<% end %>
	</td>
	<td><%= movie.tagged %></td>
	<td><%= link_to(movie.device.name, url_for([@user, movie.device])) %></td>
</tr>