
<%= link_to("Match all movies", user_match_path(@user)) %>

<table width="100%">
	<tr>
		<th><%= sortable "name", "Name" %></th>
		<th><%= sortable "year", "Year" %></th>
		<th><%= sortable "no_of_files", "Files" %></th>
		<th><%= sortable "total_size", "Size" %></th>
		<th><%= sortable "imdb_id", "IMDB" %></th>
		<th><%= sortable "device_id", "Device" %></th>
	</tr>
<% movies.each do |movie| %>
	<%= render 'movies/movie', movie: movie %>
<% end %>
</table>

<%= will_paginate movies %>