<tr align="center">
	<td title="<%= movie.name %>">
		<%= link_to(wrap(movie.name), url_for([@user, movie])) %>
	</td>
	<td title="<%= movie.name %>"><%= wrap(movie.folder_name) %></td>
	<td><%= movie.no_of_files %></td>
	<td><%= movie.total_size %></td>
	<td><%= movie.imdb_id %></td>
	<td><%= movie.tagged %></td>
	<td><%= link_to(@device.name, url_for([@user, @device])) %></td>
</tr>